<h2>Create new Recipe</h2>
<form [formGroup]="recipeForm" (ngSubmit)="submitForm()">
  <div class="form-group">
    <label for="name">
      Rezeptname
    </label>
    <input class="form-control" type="text" name="name" formControlName="recipeName">
  </div>
  <button class="btn btn-primary" type="submit">Submit recipe</button>
</form>
<div class="form-group">
  <h3>Zutatenliste</h3>
  <input type="text" [formControl]="ingredientInput" placeholder="Zutat">
  <ul>
    <li *ngFor="let ingredient of inrgedientSuggestion">{{ ingredient.name }}</li>
  </ul>
</div>
